@model IEnumerable<MvcGuessMySonsName.Models.GuessedName>

@{
    ViewBag.Subtitle = "Fjöldi mismunandi nafna alls: " + Model.Count();
}

@section scripts {
   <script type="text/javascript">

       $(".rowInfo").mouseover(function () {
           var item = this;
           var name = $(item).data("name");

           $("#partial").load("/Guesses/GetNameGuesses?name=" + encodeURIComponent(name), function () {
               $("#partial").css("top", $(item).position().top + $(item).height());
               $("#partial").css('visibility', 'visible').hide().fadeIn(800);
           });
       });

       $(".rowInfo").mouseout(function () {
           $("#partial").fadeOut(500);
       });

   </script>
}

<div style="position:relative">

    <table id="nameGuessesTable">

        <tr>
            <th></th>
            <th style="min-width:100px">
                @("Nafn")
            </th>
            <th style="min-width:100px">
                @("Fjöldi")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    <img class="rowInfo" data-name="@item.Name" src="~/Images/group.gif" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
            </tr>
        }
    </table>

    <div id="partial" style="color:white;background:#7ac0da;padding:2px;border:solid;visibility:hidden;position:absolute;left:20px;top:0;" />

</div>





