@{
    ViewBag.Title = "Giskaðu á nafn sonar míns";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <header>
        <div class="content-wrapper">
            <div class="float-right">
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Heim", "Index", "Home")</li>
                        <li>@Html.ActionLink("Mínar ágiskanir", "MyGuesses", "Guesses")</li>
                        <li>@Html.ActionLink("Allar ágiskanir", "Index", "Guesses")</li>
                        <li>@Html.ActionLink("Vinsældir ágiskana", "Index", "GuessedNames")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div id="body">
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>@ViewBag.Title</h1>
                    <br />
                    <h2>@ViewBag.Subtitle</h2>
                </hgroup>
            </div>
        </section>

        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

</body>
</html>
