@model IEnumerable<MvcGuessMySonsName.Models.Guess>

@{
    ViewBag.Subtitle = "Nöfn sem giskað hefur verið á";
}

<table>
    <tr>
        <th>
            @("Dagsetning")
        </th>
        <th>
            @("Nafn")
        </th>
        <th>
            @("Ip tala")
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ip)
        </td>
    </tr>
}
    
</table>
